<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Student</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <form action="/deletesearch">
   <h3>Delete Student</h3>
   
    <hr>
 
    <label for="phn"><b>Phone No</b></label>
    <input type="phone" placeholder="Type Phone No To Be Searched" name="phone" id="phone" required>

    <button type="submit" class="registerbtn">Delete Student</button>
    <a href="/index" style="color:black">BACK TO INDEX PAGE</a>

    <br>
    {{#if mesg1}}
    <h3>Data deleted!</h3>
    {{/if}}

     {{#if mesg2}}
    <h3>Not found!</h3>
    {{/if}}

     {{#if mesg3}}
    <h3>{{alert}}</h3>
    {{/if}}
    </form>
  </div>
</body>
</html>